body { 
    font-family: Arial, sans-serif; 
    color: #333; 
    margin: 0; 
    background: linear-gradient(to right, #f7b3a2, #ffa662); 
} 
li{
color: rgb(9, 9, 150);
background: rgb(85, 118, 190);
}
img{
    width: 50%;
    align-items: center;
}
h1{
font-family: 'Times New Roman', Times, serif;
color: rgb(0, 22, 0);
background: rgb(255, 75, 75);

}
h2{


}
p{
font-family: 'Times New Roman', Times, serif;
font-style: italic;
color: rgb(0, 22, 0);
background: rgb(255, 75, 75);
}
.boton{ 
    Display: inline-block; 
    Background-color: #f57979; 
    Color: rgb(36, 1, 1);
    Padding: 10px 20px; 
    border: 3px;
    Border-radius: 5px;  
    Cursor: pointer;   
    Margin: 5px;
} 
.boton:hover { 
    background: rgb(0, 0, 0);

}
.imagencentro{

    align-items: center;
}